extends layout
block content
  h1.text-center= title 
  a.btn.btn-success(href='/reg/regis') Adminstator qo'shish
  form(action="" method="POST"   enctype="multipart/form-data"  )
      input(type="text" name="title" placeholder="Avtomobining nomi")
      input(type="text" name="price" placeholder="Avtomobining narxi")
      input(type="text" name="sale" placeholder="Avtomobining chegirmasi")
      input(type="Number" name="count" placeholder="Avtomobining soni")
      select(name="category")
          option(value="Mercedez-Bens") Mercedez-Bens
          option(value="Audi") Audi
          option(value="Ford") Ford
          option(value="Chevrolet") Chevrolet
          option(value="Volvo") Volvo
      input(type="file" name="photo" placeholder="Avtomobining rasmi")
      textarea(name="comments", cols="30", rows="10")

      button.btn-danger Jonatish