footer.ftco-footer.ftco-bg-dark.ftco-section.mt-5
  .container
    .row.mb-5
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2
            a.logo(href='#')
              | Car
              span book
          p
            | Слаженный, профессиональный коллектив, опытные технические специалисты и компетентные менеджеры— это сердце нашего автосалона
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
            li.ftco-animate
              a(href='#')
                span.icon-twitter
            li.ftco-animate
              a(href='#')
                span.icon-facebook
            li.ftco-animate
              a(href='#')
                span.icon-instagram
      .col-md
        .ftco-footer-widget.mb-4.ml-md-5
          h2.ftco-heading-2 Информация
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') О нас
            li
              a.py-2.d-block(href='#') Услуги
            li
              a.py-2.d-block(href='#') Срок и условия
            li
              a.py-2.d-block(href='#') Гарантия лучшей цены
            li
              a.py-2.d-block(href='#') Конфиденциальность & Политика использования файлов cookie
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Служба поддержки
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') Часто задаваемые вопросы
            li
              a.py-2.d-block(href='#') Варианты оплаты
            li
              a.py-2.d-block(href='#') Советы по бронированию
            li
              a.py-2.d-block(href='#') Как это работает
            li
              a.py-2.d-block(href='#') Обратная связь
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Остались вопросы?
          .block-23.mb-3
            ul
              li
                span.icon.icon-map-marker
                span.text ул Новомосковская 52, Ташкент, Узбекистан
              li
                a(href='#')
                  span.icon.icon-phone
                  span.text +998 78 253 63 13
              li
                a(href='#')
                  span.icon.icon-envelope
                  span.text info@carbook.com
    .row
      .col-md-12.text-center
        p
          | Copyright ©
          script.
            document.write(new Date().getFullYear());
          |  Все права защищены

script( src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
script(src='/js/script2.js')
script(src='/js/jquery.min.js')
script(src='/js/jquery-migrate-3.0.1.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.easing.1.3.js')
script(src='/js/jquery.waypoints.min.js')
script(src='/js/jquery.stellar.min.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/aos.js')
script(src='/js/jquery.animateNumber.min.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/jquery.timepicker.min.js')
script(src='/js/scrollax.min.js')
script(src='/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='/js/google-map.js')
script(src='/js/main.js')
